<!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        <hr>
        <h6 class="card-text">Aparición <small>{{ created | date:'medium' }}</small></h6>
        <p class="card-text">Genero: {{gender}}</p>
        <p class="card-text">Altura: {{ height }}</p>
    </div>
</div> -->


<div class="card-columns">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>
            <hr>
            <h6 class="card-text">Aparición <small>{{ created | date:'medium' }}</small></h6>
            <p class="card-text">Genero: {{gender}}</p>
            <p class="card-text">Altura: {{ height }}</p>
            <p class="card-text">Peso: {{ mass }}</p>
            <p class="card-text">Planeta: {{ planeta }}</p>
        </div>
    </div>
</div>